.cart>img {
    height: 30px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.insidecart {
    background-color: var(--col3);
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.insidecart.active {
    pointer-events: all;
    position: sticky;
    top: 90px;
    z-index: 1;
    opacity: 1;
}

.productincart {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 5px 10px;
    font-size: clamp(10px, 1.4vw, 20px);
    font-family: 'Roboto', sans-serif;
    color: var(--col1);
    border-bottom: solid 1px var(--col1);
}

.productincart>.name {
    grid-column-start: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productincart>.price {
    padding: 0 10px;
    grid-column-start: 2;
    border-left: solid 1px var(--col1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productincart>.quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.totalprice {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 5px 10px;
    font-size: clamp(10px, 1.4vw, 20px);
    font-family: 'Roboto', sans-serif;
    color: var(--col1);
}

.price {
    grid-column-start: 2;
    padding: 0 10px;
}

.ordernow {
    width: 50%;
    font-size: clamp(10px, 1vw, 16px);
    font-family: 'Roboto', sans-serif;
    color: var(--col1);
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 5px;
    background-color: lightgreen;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.ordernow:hover {
    background-color: green;
    box-shadow: none;
    border: solid 1px;
}