nav {
    margin: 0;
    background-color: var(--col3);
    box-shadow: 0 0 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navlist {
    font-weight: 700;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding:  30px 120px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 80px;
    color: var(--col1);
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--col1);
}